<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/preview.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Remove Background</title>
</head>
<body>
    {% if rembg_img_name %}
    <div class="container">
        
        <div>
            <h2>Original Image</h2>
            <img src='../static/uploads/{{ org_img_name }}'>
        </div>
        <div>
            <h2>Image with Background Removed</h2>
            <img src='../static/uploads/{{ rembg_img_name }}'>
        </div>
    </div>
    <a href="../static/uploads/{{ rembg_img_name }}" download>Download</a>
    {% endif %}
</body>
</html>